{
  "openapi": "3.0.0",
  "info": {
    "title": "EnerGiraud",
    "version": "1.0.0",
    "description": "Cette API permet de gérer les comptes des hébergés, leur solde et les différentes opérations liées à l'utilisation et au crédit de leur compte. Elle inclut :\n\n- La gestion des comptes des hébergés (création, modification, suppression).\n- L'ajout et l'utilisation de crédits.\n- La consultation du solde actuel en fonction de l'historique des transactions.\n- La gestion des transactions passées pour assurer un suivi précis des mouvements de fonds.\n- La mise en place de restrictions en fonction du solde disponible et des règles d'utilisation.\n\nL'API fonctionne sur un système de jetons pour l'authentification et sécurise toutes les opérations effectuées."
  },
  "servers": [
    {
      "url": "https://api-energiraud.lamaisondesloges.com"
    }
  ],
  "paths": {
    "/api/accounts/{id}": {
      "get": {
        "tags": [
          "Comptes"
        ],
        "summary": "Récupère un compte par son ID",
        "description": "Retourne les détails d'un compte utilisateur spécifique",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID du compte à récupérer"
          }
        ],
        "responses": {
          "200": {
            "description": "Le compte a été récupéré avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "ntag": {
                          "type": "string"
                        },
                        "balance": {
                          "type": "number"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "transactions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "createdAt": {
                                "type": "date-time"
                              },
                              "updatedAt": {
                                "type": "date-time"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Clé d'API invalide ou manquante",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur interne du serveur"
          }
        }
      }
    },
    "/api/accounts": {
      "get": {
        "tags": [
          "Comptes"
        ],
        "summary": "Récupère les comptes paginés",
        "description": "Retourne une liste paginée des comptes utilisateurs",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Numéro de la page à récupérer"
          },
          {
            "in": "query",
            "name": "take",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            },
            "description": "Nombre d'éléments par page (maximum 50)"
          }
        ],
        "responses": {
          "200": {
            "description": "Les comptes ont été récupérés avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "ntag": {
                            "type": "string"
                          },
                          "balance": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "enabled": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Paramètres de pagination invalides",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid page or take"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Clé d'API invalide ou manquante",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur interne du serveur"
          }
        }
      },
      "post": {
        "tags": [
          "Comptes"
        ],
        "summary": "Crée un compte",
        "description": "Crée un compte utilisateur",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "ntag": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le compte a été créé avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "ntag": {
                          "type": "string"
                        },
                        "balance": {
                          "type": "number"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "enabled": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Paramètres invalides",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid parameters"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Clé d'API invalide ou manquante",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur interne du serveur"
          }
        }
      }
    },
    "/api/refil": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Recharge le solde d'un compte",
        "description": "Permet d'ajouter un montant au solde d'un compte utilisateur",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ntag",
                  "amount"
                ],
                "properties": {
                  "ntag": {
                    "type": "string",
                    "description": "Identifiant NFC du compte"
                  },
                  "amount": {
                    "type": "number",
                    "format": "float",
                    "minimum": 0,
                    "description": "Montant à ajouter au solde"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le compte a été rechargé avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "ntag": {
                          "type": "string"
                        },
                        "balance": {
                          "type": "number"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "enabled": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Montant invalide ou compte désactivé",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid amount"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Clé d'API invalide ou manquante",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Compte non trouvé",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "error": {
                      "type": "string",
                      "example": "Account not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur interne du serveur"
          }
        }
      }
    },
    "/api/spend": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Débite le solde d'un compte",
        "description": "Permet de retirer un montant du solde d'un compte utilisateur",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ntag",
                  "amount"
                ],
                "properties": {
                  "ntag": {
                    "type": "string",
                    "description": "Identifiant NFC du compte"
                  },
                  "amount": {
                    "type": "number",
                    "format": "float",
                    "minimum": 0,
                    "description": "Montant à débiter du solde"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le compte a été débité avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "ntag": {
                          "type": "string"
                        },
                        "balance": {
                          "type": "number"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "enabled": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Montant invalide, solde insuffisant ou compte désactivé",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid amount"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Clé d'API invalide ou manquante",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Compte non trouvé",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "error": {
                      "type": "string",
                      "example": "Account not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur interne du serveur"
          }
        }
      }
    },
    "/api/transactions/{id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Récupère les transactions d'un compte",
        "description": "Retourne la liste des transactions d'un compte spécifique",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identifiant du compte"
          }
        ],
        "responses": {
          "200": {
            "description": "Les transactions ont été récupérées avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Clé d'API invalide ou manquante",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur interne du serveur"
          }
        }
      }
    },
    "/api/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Récupère les transactions paginées",
        "description": "Retourne une liste paginée des transactions",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Numéro de la page à récupérer"
          },
          {
            "in": "query",
            "name": "take",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            },
            "description": "Nombre d'éléments par page (maximum 50)"
          }
        ],
        "responses": {
          "200": {
            "description": "Les transactions ont été récupérées avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Paramètres de pagination invalides",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid page or take"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Clé d'API invalide ou manquante",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur interne du serveur"
          }
        }
      }
    },
    "/api/verify/{ntag}": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "Vérifie le solde d'un compte",
        "description": "Retourne les informations de vérification du solde d'un compte",
        "parameters": [
          {
            "in": "path",
            "name": "ntag",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identifiant NFC du compte"
          }
        ],
        "responses": {
          "200": {
            "description": "Les informations de vérification ont été récupérées avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "balance": {
                          "type": "number"
                        },
                        "transactions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Clé d'API invalide ou manquante",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Compte non trouvé ou vérification impossible",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "error": {
                      "type": "string",
                      "example": "Account not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur interne du serveur"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "tags": [],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}